@using Newtonsoft.Json
@model Prototype.Domain.Webhook.InventoryItemViewModel
@{
    ViewBag.Title = "Inventory Items Details";
}
<div class="row">
    @*<div class="col-lg-10">
            <h3 class="text-primary">Product</h3>
        </div>
        <div class="col-lg-2">
        </div>*@
</div>
<hr style="border-color:midnightblue;margin:2px" />
<div class="row">
    <div class="col-lg-10">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <div class="panel-title">Product Details</div>
                    </div>
                    <div class="panel-body">
                        <form>
                            <div class="form-group">
                                <label for="stock-number">Display Name</label>
                                <input type="text" data-bind="value: CurrentProductDetailsModel.DisplayName" class="form-control" id="display-name" placeholder="Custom Display Name" />
                            </div>
                            <div class="form-group">
                                <label for="stock-number">Stock Number</label>
                                <input data-bind="value: CurrentProductDetailsModel.StockNumber" type="text" class="form-control" id="stock-number" placeholder="Stock #" />
                            </div>
                            <div class="form-group">
                                <label for="category">Product Type</label>
                                <input data-bind="value: CurrentProductDetailsModel.ProductType" type="text" class="form-control" id="category" placeholder="Product Category Goes Here" />
                            </div>
                            <div class="form-group">
                                <label for="manufacturer-code">Manufacturer Code</label>
                                <input data-bind="value: CurrentProductDetailsModel.ManufacturerCode" type="text" class="form-control" id="manufacturer-code" value="" />
                            </div>
                            <div class="form-group">
                                <label for="manufacturer-make">Manufacturer Make</label>
                                <input data-bind="value: CurrentProductDetailsModel.ManufacturerMake" type="text" class="form-control" id="manufacturer-make" value="" />
                            </div>
                            <div class="form-group">
                                <label for="model-code">Model Code</label>
                                <input data-bind="value: CurrentProductDetailsModel.ModelCode" type="text" class="form-control" id="manufacturer-code" value="" />
                            </div>
                            <div class="form-group">
                                <label for="model-make">Model Name</label>
                                <input data-bind="value: CurrentProductDetailsModel.ModelName" type="text" class="form-control" id="manufacturer-make" value="" />
                            </div>
                            <div class="form-group">
                                <label for="sub-model-name">Sub-Model Name</label>
                                <input data-bind="value: CurrentProductDetailsModel.SubModelName" type="text" class="form-control" id="sub-model-name" value="" />
                            </div>
                            <div class="form-group">
                                <label for="model-make">Model Year</label>
                                <input data-bind="value:CurrentProductDetailsModel.ModelYear " type="text" class="form-control" id="manufacturer-year" value="" />
                            </div>
                            <div class="form-group">
                                <label for="designation">Designation</label>
                                <select class="form-control" id="designation" placeholder="Test">
                                    <option>New</option>
                                    <option>Used</option>
                                    <option>Broker</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="condition">Condition</label>
                                <input data-bind="value:CurrentProductDetailsModel.Condition " type="text" class="form-control" id="condition" value="*Brand New!" />
                            </div>

                            <div class="form-group">
                                <label for="status">Status</label>
                                <input data-bind="value: CurrentProductDetailsModel.Status" type="text" class="form-control" id="status" placeholder="Test" value="At Location" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Features</h3>
                        <span data-bind="click: inventory.toggleFeature" class="pull-right clickable">
                            <i data-bind="visible: IsFeatureExpanded" class="glyphicon glyphicon-chevron-up"></i>
                            <i data-bind="visible: !IsFeatureExpanded()" class="glyphicon glyphicon-chevron-down"></i>
                        </span>
                    </div>
                    <div class="panel-body" data-bind="slideVisible: IsFeatureExpanded">
                        <form></form>
                    </div>
                    <div class="panel-footer">
                        <div class="list-group small" data-bind="foreach: CurrentProductDetailsModel.Features">
                            <button type="button" class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    <span data-bind="text: Count" class="pull-right"></span>
                                    <span data-bind="text: DisplayName"></span>
                                </h4>
                                <div class="list-group-item-text">
                                    <span data-bind="text: ModelCode"></span> <span data-bind="text: ModelName"></span>
                                </div>
                            </button>
                        </div>
                        <button data-bind="click: inventory.onAddFeatureClicked" class="btn btn-sm btn-primary">Add Feature</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Specifications</h3>
                        <span data-bind="click: inventory.toggleSpecifications" class="pull-right">
                            <i data-bind="visible: IsSpecificationExpanded" class="glyphicon glyphicon-chevron-up"></i>
                            <i data-bind="visible: !IsSpecificationExpanded()" class="glyphicon glyphicon-chevron-down"></i>
                        </span>
                    </div>
                    <div class="panel-body" data-bind="slideVisible: IsSpecificationExpanded">
                        <form>
                            <div class="form-group">
                                <label for="spec-category">Category</label>
                                <input type="text" class="form-control" id="spec-category" placeholder="Angle" />
                            </div>
                            <div class="form-group">
                                <label for="spec-unit-type">Unit Type</label>
                                <select class="form-control" id="spec-unit-type">
                                    <option>Angle</option>
                                    <option>Capacity</option>
                                    <option>Feet</option>
                                    <option>Gallons</option>
                                    <option>Hours</option>
                                    <option>Liters</option>
                                    <option>Meters</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="spec-name">Name</label>
                                <input type="text" class="form-control" id="spec-name" placeholder="" value="" />
                            </div>
                            <div class="form-group">
                                <label for="spac-amount">Amount</label>
                                <input type="text" class="form-control" id="spec-amount" placeholder="" value="" />
                            </div>
                            <div class="form-group">
                                <label for="color-value">Value</label>
                                <input type="text" class="form-control" id="price-display" placeholder="" value="" />
                            </div>
                            <button class="btn btn-sm btn-info">Save Specification</button>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="list-group small" data-bind="foreach: CurrentProductDetailsModel.Specifications">
                            <button type="button" class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    <span data-bind="text: Category" class="pull-right"></span>
                                    <span data-bind="text: Name"></span>
                                </h4>
                                <div class="list-group-item-text">
                                    <span data-bind="text: Value"></span> (<span data-bind="text: UnitType"></span>)
                                </div>
                            </button>
                        </div>
                        <button data-bind="click: inventory.onAddSpecificationClicked" class="btn btn-sm btn-primary">Add Specification</button>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-12">
                <div class="panel panel-primary">
                    <div class="panel-heading">

                        <h3 class="panel-title">Prices</h3>
                        <span data-bind="click: inventory.togglePrices" class="pull-right clickable">
                            <i data-bind="visible: IsPricesExpanded" class="glyphicon glyphicon-chevron-up"></i>
                            <i data-bind="visible: !IsPricesExpanded()" class="glyphicon glyphicon-chevron-down"></i>
                        </span>
                    </div>
                    <div class="panel-body" data-bind="slideVisible: IsPricesExpanded">
                        <form>
                            <div class="form-group">
                                <label for="price-category">Category</label>
                                <input type="text" class="form-control" id="price-category" placeholder="MSRP" />
                            </div>
                            <div class="form-group">
                                <label for="color-name">Value</label>
                                <input type="text" class="form-control" id="price-value" placeholder="" value="" />
                            </div>
                            <div class="form-group">
                                <label for="color-value">Display Value</label>
                                <input type="text" class="form-control" id="price-display" placeholder="Suggested MSRP" value="" />
                            </div>
                            <button class="btn btn-sm btn-info">Save Price</button>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="list-group small" data-bind="foreach: CurrentProductDetailsModel.Prices">
                            <button type="button" class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    <span data-bind="text: Category" class="pull-right"></span>
                                    <span data-bind="text: Amount"></span>
                                </h4>
                                <div class="list-group-item-text">
                                    <span data-bind="text: DisplayValue"></span>
                                </div>
                            </button>
                        </div>
                        <button data-bind="click: inventory.onAddPriceClicked" class="btn btn-sm btn-primary">Add Price</button>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Colors</h3>
                        <span data-bind="click: inventory.toggleColors" class="pull-right clickable">
                            <i data-bind="visible: IsColorsExpanded" class="glyphicon glyphicon-chevron-up"></i>
                            <i data-bind="visible: !IsColorsExpanded()" class="glyphicon glyphicon-chevron-down"></i>
                        </span>
                    </div>
                    <div class="panel-body" data-bind="slideVisible: IsColorsExpanded">
                        <form>
                            <div class="form-group">
                                <label for="color-category">Category</label>
                                <select class="form-control" id="color-category">
                                    <option>Exterior</option>
                                    <option>Exterior - Secondary</option>
                                    <option>Interior</option>
                                    <option>Interior - Secondary</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="color-name">color-name</label>
                                <input type="text" class="form-control" id="color-name" placeholder="Zeus Black" value="" />
                            </div>
                            <div class="form-group">
                                <label for="color-value">color-value</label>
                                <input type="text" class="form-control" id="color-value" placeholder="#000" value="" />
                            </div>
                            <button class="btn btn-sm btn-info">Save Color</button>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="list-group small" data-bind="foreach: CurrentProductDetailsModel.Colors">
                            <button type="button" class="list-group-item">
                                <span data-bind="if: Value">
                                    <span data-bind="style: { 'background-color': Value() }" class="badge pull-left color-badge">   </span>
                                </span>
                                <span data-bind="ifnot: Value">
                                    <span class="badge pull-left color-badge">   </span>
                                </span>
                                
                                <span class="color-badge-label" data-bind="text:Category"></span> - <span data-bind="text: Name"></span>
                                <span data-bind="if: Value" class="text-muted">
                                    (<span data-bind="text: Value"></span>)
                                </span>
                            </button>
                        </div>
                        <button data-bind="click: inventory.onAddColorClicked" class="btn btn-sm btn-primary">Add Color</button>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Marketing Details</h3>
                        <span data-bind="click: inventory.toggleMarketingDetails" class="pull-right clickable">
                            <i data-bind="visible: IsMarketingDetailsExpanded" class="glyphicon glyphicon-chevron-up"></i>
                            <i data-bind="visible: !IsMarketingDetailsExpanded()" class="glyphicon glyphicon-chevron-down"></i>
                        </span>
                    </div>
                    <div class="panel-body" data-bind="slideVisible: IsMarketingDetailsExpanded">
                        <form>
                            <div class="form-group">
                                <label for="marketing-category">Category</label>
                                <input type="text" class="form-control" id="marketing-category" placeholder="Category for detail" />
                            </div>
                            <div class="form-group">
                                <label for="marketing-name">Marketing Name</label>
                                <input type="text" class="form-control" id="marketing-name" placeholder="" value="" />
                            </div>
                            <div class="form-group">
                                <label for="color-value">Value</label>
                                <input type="text" class="form-control" id="marketing-value" placeholder="" value="" />
                            </div>
                            <button class="btn btn-sm btn-info">Save Detail</button>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="list-group small" data-bind="foreach: CurrentProductDetailsModel.MarketingDetails">
                            <button type="button" class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    <span data-bind="text: Category" class="pull-right"></span>
                                    <span data-bind="text: Name"></span>
                                </h4>
                                <div class="list-group-item-text">
                                    <span data-bind="text: Value"></span>
                                </div>
                            </button>
                        </div>
                        <button data-bind="click: inventory.onAddMarketingDetailClicked" class="btn btn-sm btn-primary">Add Marketing Detail</button>
                    </div>
                </div>
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Activities</h3>
                        <span data-bind="click: inventory.toggleActivities" class="pull-right clickable">
                            <i data-bind="visible: IsActivitiesExpaneded" class="glyphicon glyphicon-chevron-up"></i>
                            <i data-bind="visible: !IsActivitiesExpaneded()" class="glyphicon glyphicon-chevron-down"></i>
                        </span>
                    </div>
                    <div class="panel-body" data-bind="slideVisible: IsActivitiesExpaneded">
                        <form>
                            <div class="form-group">
                                <label for="marketing-category">Category</label>
                                <input type="text" class="form-control" id="activity-category" placeholder="Category for activity" />
                            </div>
                            <div class="form-group">
                                <label for="marketing-name">Name</label>
                                <input type="text" class="form-control" id="activity-name" placeholder="" value="" />
                            </div>
                            <div class="form-group">
                                <label for="color-value">Value</label>
                                <input type="text" class="form-control" id="activity-value" placeholder="" value="" />
                            </div>
                            <button class="btn btn-sm btn-info">Save Activity</button>
                        </form>
                    </div>
                    <div class="panel-footer">
                        <div class="list-group small" data-bind="foreach: CurrentProductDetailsModel.Activities">
                            <button type="button" class="list-group-item">
                                <h4 class="list-group-item-heading">
                                    <span data-bind="text: Category" class="pull-right"></span>
                                    <span data-bind="text: Name"></span>
                                </h4>
                                <div class="list-group-item-text">
                                    <span data-bind="text: Value"></span>
                                </div>
                            </button>
                        </div>
                        <button data-bind="click: inventory.onAddActivityClicked" class="btn btn-sm btn-primary">Add Activity</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Inventory.js"></script>
    <script>
        $(function () {
            $("#menu-dashboard").addClass("active");
            inventory.serverModel = @Html.Raw(JsonConvert.SerializeObject(Model));
            inventory.init();
        });
    </script>
}