@using Newtonsoft.Json
@model Prototype.Domain.Webhook.InventoryItemViewModel
@{
    ViewBag.Title = "Inventory Items Details";
}
<div data-bind="visible: false">
    <h3 class="text-primary"><span class="fa fa-spin fa-spinner"></span> Loading Proximity Tools...</h3>
</div>
<div style="display:none" data-bind="visible: true">
    <div class="row" id="nav-items" style="margin-top:-15px">
        <div class="col-lg-10">           
            <ul class="breadcrumb" data-bind="foreach: NavigationItems">
                <li>
                    <a style="cursor:pointer" data-bind="click: inventory.onNavigationClicked">
                        <span data-bind="text: DisplayName"></span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-10">
            <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <!-- Product Details Panel -->
                    <div id="product-panel" class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="panel-title">Product Details</div>
                        </div>
                        <div class="panel-body">
                            <form>
                                <div class="form-group">
                                    <label for="stock-number">Display Name</label>
                                    <input type="text" data-bind="value: CurrentProductDetailsModel().DisplayName" class="form-control" id="display-name" placeholder="Custom Display Name" />
                                </div>
                                <div class="form-group">
                                    <label for="stock-number">Stock Number</label>
                                    <input data-bind="value: CurrentProductDetailsModel().StockNumber" type="text" class="form-control" id="stock-number" placeholder="Stock #" />
                                </div>
                                <div class="form-group">
                                    <label for="category">Product Type</label>
                                    <input data-bind="value: CurrentProductDetailsModel().ProductType" type="text" class="form-control" id="category" placeholder="Product Category Goes Here" />
                                </div>
                                <div class="form-group">
                                    <label for="manufacturer-code">Manufacturer Code</label>
                                    <input data-bind="value: CurrentProductDetailsModel().ManufacturerCode" type="text" class="form-control" id="manufacturer-code" value="" />
                                </div>
                                <div class="form-group">
                                    <label for="manufacturer-make">Manufacturer Make</label>
                                    <input data-bind="value: CurrentProductDetailsModel().ManufacturerMake" type="text" class="form-control" id="manufacturer-make" value="" />
                                </div>
                                <div class="form-group">
                                    <label for="model-code">Model Code</label>
                                    <input data-bind="value: CurrentProductDetailsModel().ModelCode" type="text" class="form-control" id="manufacturer-code" value="" />
                                </div>
                                <div class="form-group">
                                    <label for="model-make">Model Name</label>
                                    <input data-bind="value: CurrentProductDetailsModel().ModelName" type="text" class="form-control" id="manufacturer-make" value="" />
                                </div>
                                <div class="form-group">
                                    <label for="sub-model-name">Sub-Model Name</label>
                                    <input data-bind="value: CurrentProductDetailsModel().SubModelName" type="text" class="form-control" id="sub-model-name" value="" />
                                </div>
                                <div class="form-group">
                                    <label for="model-make">Model Year</label>
                                    <input data-bind="value:CurrentProductDetailsModel().ModelYear " type="text" class="form-control" id="manufacturer-year" value="" />
                                </div>
                                <div class="form-group">
                                    <label for="designation">Designation</label>
                                    <select class="form-control" id="designation" placeholder="Test">
                                        <option>New</option>
                                        <option>Used</option>
                                        <option>Broker</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="condition">Condition</label>
                                    <input data-bind="value:CurrentProductDetailsModel().Condition " type="text" class="form-control" id="condition" value="*Brand New!" />
                                </div>

                                <div class="form-group">
                                    <label for="status">Status</label>
                                    <input data-bind="value: CurrentProductDetailsModel().Status" type="text" class="form-control" id="status" placeholder="Test" value="At Location" />
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <!-- Features Panel -->
                    <div id="features-panel" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Features</h3>
                            @*<span data-bind="click: inventory.toggleFeature" class="pull-right clickable">
                                <i data-bind="visible: IsFeatureExpanded" class="glyphicon glyphicon-chevron-up"></i>
                                <i data-bind="visible: !IsFeatureExpanded()" class="glyphicon glyphicon-chevron-down"></i>
                            </span>*@
                        </div>
                        <div class="panel-body" data-bind="slideVisible: IsFeatureExpanded">
                            <form></form>
                        </div>
                        <div class="panel-footer">
                            <div data-bind="template: { name:'feature-template', foreach: CurrentProductDetailsModel().Features }"></div>
                            <button data-bind="click: inventory.onAddFeatureClicked" class="btn btn-sm btn-primary">Add Feature</button>                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-12">
                    <!-- Specifications Panel -->
                    <div id="spec-panel" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Specifications</h3>
                            <span data-bind="click: inventory.toggleSpecifications" class="pull-right">
                                <i data-bind="visible: IsSpecificationExpanded" class="glyphicon glyphicon-chevron-up"></i>
                                <i data-bind="visible: !IsSpecificationExpanded()" class="glyphicon glyphicon-chevron-down"></i>
                            </span>
                        </div>
                        <div class="panel-body" data-bind="slideVisible: IsSpecificationExpanded">
                            <form>
                                <div class="form-group">
                                    <label for="spec-product-type">Specification Type</label>
                                    <select class="form-control" id="spec-product-type"
                                            data-bind="
                                            options: SpecificationTypes,
                                            optionsText: 'Name',
                                            optionsValue: 'Id',   
                                            value: SelectedSpecificationType,
                                            optionsCaption: 'Select One...'"></select>
                                </div>
                                <div class="form-group">
                                    <label for="spec-unit-type">Unit Type</label>
                                    <select class="form-control" id="spec-unit-type"
                                            data-bind="
                                            options: UnitTypes,
                                            optionsText: 'Name',
                                            optionsValue: 'Id',
                                            value: SelectedUnitType,
                                            optionsCaption: 'Select One...'"></select>
                                </div>

                                <div class="form-group">
                                    <label for="spec-name">Name</label>
                                    <input type="text" class="form-control" id="spec-name" data-bind="value: NewSpecification.Name" />
                                </div>
                                <div class="form-group">
                                    <label for="spac-amount">Amount</label>
                                    <input type="text" class="form-control" id="spec-amount" data-bind="value: NewSpecification.Amount" />
                                </div>
                                <div class="form-group">
                                    <label for="color-value">Value</label>
                                    <input type="text" class="form-control" id="price-display" data-bind="value: NewSpecification.Value" />
                                </div>
                                <button id="save-spec" data-bind="click: inventory.onSaveSpecificationClicked" class="btn btn-sm btn-info">Save Specification</button>
                                <button id="clear-spec" data-bind="click: inventory.onClearSpecificationClicked" class="btn btn-sm btn-warning">Clear</button>
                                <span class="pull-right">
                                    <button style="margin-right:20px" id="remove-spec" data-bind="click: inventory.onRemoveSpecificationClicked" class="btn btn-sm btn-danger">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </span>
                                
                            </form>
                        </div>
                        <div class="panel-footer">
                            <div class="list-group small" data-bind="foreach: CurrentProductDetailsModel().Specifications">
                                <button type="button" class="list-group-item" data-bind="click: inventory.onSpecificationClicked">
                                    <h4 class="list-group-item-heading">
                                        <span data-bind="text: Category.Name" class="pull-right"></span>
                                        <span data-bind="text: Name"></span>
                                    </h4>
                                    <div class="list-group-item-text">
                                        <span data-bind="text: Value"></span> (<span data-bind="text: UnitType.Name"></span>)
                                    </div>
                                </button>
                            </div>
                            <button data-bind="click: inventory.onAddSpecificationClicked" class="btn btn-sm btn-primary">Add Specification</button>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-12">

                    <!-- Classes Panel -->
                    <div id="classes-panel" class="panel panel-primary" data-bind="visible: NavigationItems().length == 1">
                        <div class="panel-heading">
                            <h3 class="panel-title">Classes</h3>
                            <span data-bind="click: inventory.toggleClasses" class="pull-right clickable">
                                <i data-bind="visible: IsClassesExpanded()" class="glyphicon glyphicon-chevron-up"></i>
                                <i data-bind="visible: !IsClassesExpanded()" class="glyphicon glyphicon-chevron-down"></i>
                            </span>
                        </div>
                        <div class="panel-body" data-bind="slideVisible: IsClassesExpanded">
                            <form>
                                <div class="form-group">
                                    <label for="color-category">Class</label>
                                    <select class="form-control" id="subclasses"
                                            data-bind="options: BaseClasses,
                                            optionsText: 'Name',
                                            optionsValue: 'Id',
                                            value: SelectedClass,
                                            optionsCaption: 'Select One..'"></select>
                                </div>
                                <div class="form-group">
                                    <label for="subclass-value">Sub-Class</label>
                                    <input type="text" class="form-control" id="subclass-value" placeholder="Add a subclass to the list" data-bind="value: CurrentSubclass" />
                                </div>
                                <button id="save-subclass" class="btn btn-sm btn-info" data-bind="click: inventory.onSaveSubclassClicked">Save Sub-Class</button>
                                <button id="clear-subclass" class="btn btn-sm btn-warning" data-bind="click: inventory.onClearSubclassClicked">Clear</button>                               
                            </form>
                        </div>
                        <div class="panel-footer">
                            <div class="list-group small" data-bind="foreach: CurrentProductDetailsModel().SubClasses">
                                <div style="cursor:pointer" class="list-group-item list-group-item-action" data-bind="click: inventory.onSubclassClicked">
                                    <span class="pull-right">
                                        <button data-bind="click: function(data) { inventory.onRemoveSubclassClicked($data)} " style="margin-top:-7px" class="btn btn-sm btn-danger">
                                            <span class="fa fa-trash"></span>
                                        </button>
                                    </span>
                                    <span data-bind="text: $data"></span>
                                </div>
                            </div>
                            <button data-bind="click: inventory.onAddSubclassClicked" class="btn btn-sm btn-primary">Add Subclass</button>
                        </div>
                    </div>

                    <!-- Prices Panel -->
                    <div id="prices-panel" class="panel panel-primary">
                        <div class="panel-heading">

                            <h3 class="panel-title">Prices</h3>
                            <span data-bind="click: inventory.togglePrices" class="pull-right clickable">
                                <i data-bind="visible: IsPricesExpanded" class="glyphicon glyphicon-chevron-up"></i>
                                <i data-bind="visible: !IsPricesExpanded()" class="glyphicon glyphicon-chevron-down"></i>
                            </span>
                        </div>
                        <div class="panel-body" data-bind="slideVisible: IsPricesExpanded">
                            <form>
                                <div class="form-group">
                                    <label for="price-category">Category</label>
                                    <select class="form-control" id="price-category"
                                            data-bind="
                                            options: PriceTypes,
                                            optionsText: 'Name',
                                            optionsValue: 'Id',
                                            value: SelectedPriceType,
                                            optionsCaption: 'Select One..'"></select>
                                </div>
                                <div class="form-group">
                                    <label for="price-amount">Value</label>
                                    <input type="text" class="form-control" id="price-amount" data-bind="value: NewPrice.Amount" />
                                </div>
                                <div class="form-group">
                                    <label for="price-display">Display Value</label>
                                    <input type="text" class="form-control" id="price-display" data-bind="value: NewPrice.DisplayValue" />
                                </div>
                                <button id="save-price" data-bind="click: inventory.onSavePriceClicked" class="btn btn-sm btn-info">Save Price</button>
                                <button id="clear-price" data-bind="click: inventory.onClearPriceClicked" class="btn btn-sm btn-warning">Clear</button>
                                <span class="pull-right">
                                    <button style="margin-right:20px" id="remove-price" data-bind="click: inventory.onRemovePriceClicked" class="btn btn-sm btn-danger">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </span>

                            </form>
                        </div>
                        <div class="panel-footer">
                            <div class="list-group small" data-bind="foreach: CurrentProductDetailsModel().Prices">
                                <button type="button" class="list-group-item" data-bind="click: inventory.onPriceClicked">
                                    <h4 class="list-group-item-heading">
                                        <span data-bind="text: Category.Name" class="pull-right"></span>
                                        <span data-bind="text: FormattedAmount"></span>
                                    </h4>
                                    <div class="list-group-item-text">
                                        <span data-bind="text: DisplayValue"></span>
                                    </div>
                                </button>
                            </div>
                            <button data-bind="click: inventory.onAddPriceClicked" class="btn btn-sm btn-primary">Add Price</button>
                        </div>
                    </div>

                    <!-- Colors Panel -->
                    <div id="colors-panel" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Colors</h3>
                            <span data-bind="click: inventory.toggleColors" class="pull-right clickable">
                                <i data-bind="visible: IsColorsExpanded" class="glyphicon glyphicon-chevron-up"></i>
                                <i data-bind="visible: !IsColorsExpanded()" class="glyphicon glyphicon-chevron-down"></i>
                            </span>
                        </div>
                        <div class="panel-body" data-bind="slideVisible: IsColorsExpanded">
                            <form>
                                <div class="form-group">
                                    <label for="color-category">Category</label>
                                    <select class="form-control" id="color-category"
                                            data-bind="options: ColorTypes,
                                            optionsText: 'Name',
                                            optionsValue: 'Id',
                                            value: SelectedColorType,
                                            optionsCaption: 'Select One..'"></select>
                                </div>
                                <div class="form-group">
                                    <label for="color-name">Color Name</label>
                                    <input type="text" class="form-control" id="color-name" data-bind="value: NewColor.Name" />
                                </div>
                                <div class="form-group">
                                    <label for="color-value">Color Value</label>
                                    <input type="text" class="form-control" id="color-value" placeholder="#000" data-bind="value: NewColor.Value" />
                                </div>
                                <button id="save-color" class="btn btn-sm btn-info" data-bind="click: inventory.onSaveColorClicked">Save Color</button>
                                <button id="clear-color" class="btn btn-sm btn-warning" data-bind="click: inventory.onClearColorClicked">Clear</button>
                                <span class="pull-right">
                                    <button style="margin-right:20px" id="remove-color" data-bind="click: inventory.onRemoveColorClicked" class="btn btn-sm btn-danger">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </span>

                            </form>
                        </div>
                        <div class="panel-footer">
                            <div class="list-group small" data-bind="foreach: CurrentProductDetailsModel().Colors">
                                <button type="button" class="list-group-item" data-bind="click: inventory.onColorClicked">
                                    <span data-bind="if: Value">
                                        <span data-bind="style: { 'background-color': Value() }" class="badge pull-left color-badge">   </span>
                                    </span>
                                    <span data-bind="ifnot: Value">
                                        <span class="badge pull-left color-badge">   </span>
                                    </span>

                                    <span class="color-badge-label" data-bind="text:Category.Name"></span> - <span data-bind="text: Name"></span>
                                    <span data-bind="if: Value" class="text-muted">
                                        (<span data-bind="text: Value"></span>)
                                    </span>
                                </button>
                            </div>
                            <button data-bind="click: inventory.onAddColorClicked" class="btn btn-sm btn-primary">Add Color</button>
                        </div>
                    </div>



                    <!-- Marketing Details Panel -->
                    <div id="marketing-panel" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Marketing Details</h3>
                            <span data-bind="click: inventory.toggleMarketingDetails" class="pull-right clickable">
                                <i data-bind="visible: IsMarketingDetailsExpanded" class="glyphicon glyphicon-chevron-up"></i>
                                <i data-bind="visible: !IsMarketingDetailsExpanded()" class="glyphicon glyphicon-chevron-down"></i>
                            </span>
                        </div>
                        <div id="marketing-form" class="panel-body" data-bind="slideVisible: IsMarketingDetailsExpanded">
                            <form>
                                <div class="form-group">
                                    <label for="marketing-category">Category</label>
                                    <input type="text" class="form-control" data-bind="value: NewMarketingDetail.Category" id="marketing-category" placeholder="Category for detail" />
                                </div>
                                <div class="form-group">
                                    <label for="marketing-name">Name</label>
                                    <input type="text" class="form-control" id="marketing-name" data-bind="value: NewMarketingDetail.Name" />
                                </div>
                                <div class="form-group">
                                    <label for="color-value">Text</label>
                                    <textarea class="form-control" style="font-size:small" id="marketing-value" rows="8" data-bind="value: NewMarketingDetail.Value"></textarea>
                                </div>
                                <button id="save-detail" class="btn btn-sm btn-info" data-bind="click: inventory.onSaveMarketingDetailClicked">Save Detail</button>
                                <button id="clear-detail" class="btn btn-sm btn-warning" data-bind="click: inventory.onClearMarketingDetailClicked">Clear</button>
                                <span class="pull-right">
                                    <button style="margin-right:20px" id="remove-detail" data-bind="click: inventory.onRemoveMarketingClicked" class="btn btn-sm btn-danger">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </span>

                            </form>
                        </div>
                        <div class="panel-footer">
                            <div class="list-group small" data-bind="foreach: CurrentProductDetailsModel().MarketingDetails">
                                <button type="button" class="list-group-item" data-bind="click: inventory.onMarketingDetailClicked">
                                    <h4 class="list-group-item-heading">
                                        <span data-bind="text: Name" class="pull-right"></span>
                                        <span data-bind="text: Category"></span>
                                    </h4>
                                    <div class="list-group-item-text">
                                        <span data-bind="text: Value"></span>
                                    </div>
                                </button>
                            </div>
                            <button data-bind="click: inventory.onAddMarketingDetailClicked" class="btn btn-sm btn-primary">Add Marketing Detail</button>
                        </div>
                    </div>

                    <!-- Activities Panel -->
                    <div id="activities-panel" class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 class="panel-title">Activities</h3>
                            <span data-bind="click: inventory.toggleActivities" class="pull-right clickable">
                                <i data-bind="visible: IsActivitiesExpaneded" class="glyphicon glyphicon-chevron-up"></i>
                                <i data-bind="visible: !IsActivitiesExpaneded()" class="glyphicon glyphicon-chevron-down"></i>
                            </span>
                        </div>
                        <div id="activity-form" class="panel-body" data-bind="slideVisible: IsActivitiesExpaneded">
                            <form>
                                <div class="form-group">
                                    <label for="activity-category">Category</label>
                                    <select type="text" class="form-control" id="activity-category"
                                            data-bind="options: ActivityTypes,
                                            optionsText: 'Name',
                                            optionsValue: 'Id',
                                            value: SelectedActivityType,
                                            optionsCaption: 'Select One..'"></select>
                                </div>
                                <div class="form-group">
                                    <label for="activity-name">Name</label>
                                    <input type="text" class="form-control" id="activity-name" data-bind="value: NewActivity.Name" />
                                </div>
                                <div class="form-group">
                                    <label for="activity-value">Value</label>
                                    <input type="text" class="form-control" id="activity-value" data-bind="value: NewActivity.Value" />
                                </div>
                                <span class="pull-right">
                                    <button style="margin-right:20px" id="remove-activity" data-bind="click: inventory.onRemoveActivityClicked" class="btn btn-sm btn-danger">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </span>
                                <button id="save-activity" class="btn btn-sm btn-info" data-bind="click: inventory.onSaveActivityDetailClicked">Save Activity</button>
                                <button id="clear-activity" class="btn btn-sm btn-warning" data-bind="click: inventory.onClearActivityDetailClicked">Clear</button>
                            </form>
                        </div>
                        <div class="panel-footer">
                            <div class="list-group small" data-bind="foreach: CurrentProductDetailsModel().Activities">
                                <button type="button" class="list-group-item" data-bind="click: inventory.onActivityDetailClicked">
                                    <h4 class="list-group-item-heading">
                                        <span data-bind="text: Category.Name" class="pull-right"></span>
                                        <span data-bind="text: Name"></span>
                                    </h4>
                                    <div class="list-group-item-text">
                                        <span data-bind="text: Value"></span>
                                    </div>
                                </button>
                            </div>
                            <button data-bind="click: inventory.onAddActivityClicked" class="btn btn-sm btn-primary">Add Activity</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/Inventory.js"></script>
    <script>
        $(function () {
            $("#menu-dashboard").addClass("active");
            inventory.serverModel = @Html.Raw(JsonConvert.SerializeObject(Model));
            inventory.init();
        });
    </script>

    <script id="feature-template" type="text/html">
        <ul class="list-group list-group-hover" style="font-size:small;cursor: pointer">
            <a class="list-group-item list-group-item-action collapse" data-bind="attr:{ id: Id() }">                
                <div class="list-group-item-text" data-bind="click: inventory.onFeatureClicked">
                    <span data-bind="text: DisplayName"></span> <span data-bind="text: ModelName"></span>
                </div>
                <!-- ko template: {name: 'feature-template', foreach: $data.Features } -->
                <!-- /ko -->
            </a>
        </ul>
    </script>
}